<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音乐流派识别系统</title>

    <!-- CSS 引用 -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- 引入 particles.js -->
    <script src="static/js/particles.js"></script>
</head>

<body>
    <!-- 粒子效果容器 -->
    <div id="particles-js"></div>

    <!-- 交互和结果显示窗 -->
    <div class="container">
        <h1>🎵 音乐流派识别系统</h1>
        <div class="upload-box">
            <form id="uploadForm">
                <input type="file" name="file" accept=".wav,.mp3,.ogg" id="fileInput" style="display: none;"
                    onchange="handleFileSelect()">
                <label for="fileInput" style="cursor: pointer;">
                    <h3>点击选择音乐文件（支持 WAV/MP3）</h3>
                    <p>或拖放文件至此区域</p>
                </label>
                <div class="progress">
                    <div id="progressBar" style="width: 0%; height: 100%; background: #ababab;"></div>
                </div>
                <button type="submit">开始识别</button>
            </form>
        </div>
        <div class="audio-player-container">
            <!-- 为音频播放器添加类名 -->
            <audio id="audioPlayer" class="custom-audio-player" controls style="display: none;"></audio>
        </div>
        <div id="result"></div>
    </div>

    <!-- JavaScript 引用 -->
    <script src="/static/js/app.js"></script>

</body>

</html>